body {
  font-family: sans-serif;
  background-color: #fdf6ec;
  color: #333;
  margin: 0;
  padding: 2rem;
  margin-left: 50px;
}

h1 {
  margin-bottom: 2rem;
}

img {
  display: block;
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

ul {
  list-style-type: circle;
  background-color: #fff3e0;
  padding: 1rem 2rem;
  border-radius: 10px;
  width: fit-content;
  line-height: 1.6;
}

ol {
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 50px;
}

li {
  margin-bottom: 0.5rem;
}

a {
  color: #ff9800;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.step-counter {
    font-weight: bold;
}